<section class="home">
    <section class="container-graphic-bmi"></section>
    <section class="container-bmi-calculator">
        <div class="title-container">
            <h1>BMI Calculator</h1>
        </div>
        <div class="form-bmi">
            <form action="">
                <div class="form-data">
                    <label for="weight" class="form-label">Peso (KG)</label>
                    <input
                        class="form-input"
                        type="text"
                        placeholder="65"
                        name="weight"
                        id="weight"
                    />
                </div>
                <div class="form-data">
                    <label for="height" class="form-label">Altura (CM)</label>
                    <input
                        class="form-input"
                        type="text"
                        placeholder="167"
                        name="height"
                        id="height"
                    />
                </div>
            </form>
        </div>
    </section>
</section>
